.bg-primary {
  background-color: var(--primary) !important;
}

.bg-primary-light {
  background-color: var(--primaryLight) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-very-dark {
  background-color: var(--very-dark) !important;
}