$primary: rgb(67, 82, 215);
$primaryLight: lighten($primary, 10%);
$primaryDark: darken($primary, 10%);

$secondary: rgb(38, 255, 151);
$secondaryLight: lighten($secondary, 10%);
$secondaryDark: darken($secondary, 10%);

$veryDark: rgb(29, 29, 29);